.axis {
  stroke: #333333;
  stroke-width: 3;
}
.grid {
  stroke: #dddddd;
  stroke-width: 1;
  opacity: .25;
}
.label {
  cursor: default;
  text-anchor: middle;
  font-size: 14px;
  fill: #444444
}
.bar {
  fill: #a9a9a9;
  opacity: 0.6;
}
.bar:hover {
    fill: #ec008c;
    opacity: 1;
}
.series:hover .bar {
    fill: #ec008c;
    opacity: 1;
}

.svg {
  border-style: solid;
}

#Dogs{
  fill: #FF0000;
  opacity: 1;
}

#Cats{
  fill: #A020F0;
  opacity: 1;
}

#Tigers{
  fill: #454B1B;
  opacity: 1;
}
